{% extends 'layouts/index_temp.html' %}
{% load static %}

{% block content %}

<div class="overlay">

    <!--This class is for the navigation bar which has the logo and the menu options i.e. About us, Browse Recipes...-->
    <div class="navigation">
        <div class="logo">
            <a href="{% url 'back' user_id%}">
                <img src="/media/logo/image.png" style="width: 20%; height: 10;">

                <!-- For some reason there are double logos appearing on my screen only in this page, so for now the 
                logo will be hidden but that can be changed by removing the visibility feature-->
                
            </a>
        </div>
        
        <ul>
            <li><a href="#"> ABOUT US </a> </li>
            <li><a href="{% url 'global' user_id%}"> BROWSE RECIPES </a> </li>
        </ul>
    </div>

    <!--This class contains all the functions of this page-->
    <div class="pos-ing">
        <h2>Currently Possessed Ingredients</h2>
        {%for n in ingredients%}
        <ol>{{n.ingredient_name}}</ol>
        {% endfor %}

        <form method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary btn-sm" value=""> Save</button>
        </form>
    
        <a href="{% url 'llm_result' user_id%}">
            <button type="button" class="delete-button">Next</button>
        </a>
    
        <a href="{% url 'del_back_ing' user_id%}">
            <button type="button" class="delete-button">Back</button>
        </a>
    </div>

</div>

{% endblock %}