{% extends 'layouts/index_temp.html' %}
{% load static %}

{% block content %}

    <!--This class is for the navigation bar which has the logo and the menu options i.e. About us, Browse Recipes...-->
    <div class="navigation">
        <div class="logo">
            <a href="{% url 'back' user_id%}">
                <img src="/media/logo/image.png" style="width: 20%; height: 10;"> 
            </a>
        </div>
        
        <ul>
            <li><a href="#"> ABOUT US </a> </li>
            <li><a href="{% url 'global' user_id%}"> BROWSE RECIPES </a> </li>
            <li>
                {% if flag != None %}
                <a href="{% url 'saved_recipes' user_id%}">
                    SAVED RECIPES
                </a>
                {% endif %}
            </li>
        </ul>
    </div>

    <!--This class contains all the functions of this page-->
    <div class="more-more">
        {% for recipe in recipes %}
        {% autoescape off %}
        <ul>{{recipe.recipe_content}}</ul>
        {% endautoescape %}
        <a href="{% url 'recipe_page' recipe.recipe_id user_id %}">
            <button type="button" class="button">More</button>
        </a>
        <br>
        {% endfor %}
    
    </div>

{% endblock %}