{% extends 'layouts/index_temp.html' %}

{% block content %}

<nav class="navbar">
    <div class="main-menu">
    <a href="{% url 'back' user_id%}">
        <img src="/media/logo/image.png" style="width: 20%; height: 10">
    </a>

    {% if flag != None %}
    <a href="{% url 'saved_recipes' user_id%}">
        <img src="/media/logo/bookmark.png" style="width: 30px ;height: 30px ; position:relative ; display: inline-block ; margin-left: 510px; margin-bottom: 10px;">
    </a>
    {% endif %}
    </div>
</nav>

<h2>Upload Image of Ingredients</h2>
<form method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="image" class="delete-button">Upload</button>
</form>

<h2>Manually Add Ingredients</h2>
<h4>Ingredients Currently in Possession</h4>
{%for n in ingredients%}
    <ol>{{n.ingredient_name}}</ol>
{% endfor %}
<form method='POST'>
    {% csrf_token %}
    {{form2.as_p}}
    <button type="submit" name="manual" class="delete-button" value=""> Add</button>
</form>

<a href="{% url 'images' user_id %}">
    <button type="button" class="delete-button">Next</button>
</a>

{% endblock %}