{% extends 'layouts/index_temp.html' %}

{% block content %}

<style>

    h2{
        font-weight: 500;
        font-family: fantasy;
        padding-bottom: 20px;
        text-align: left;
    }
    
    label{
        font-family: fantasy;
        font-weight: 500;
       
    }

    ol{
        text-wrap: pretty;
        text-align: center;

    }

    h4{
        text-align: left;
        padding-bottom: 20px;
        font-family: fantasy;
        font-weight: 500;
    }
</style>

<div class="1">

    <!--This class is for the navigation bar which has the logo and the menu options i.e. About us, Browse Recipes...-->
    <div class="navigation">
        <div class="logo">
            <a href="{% url 'back' user_id%}">
                <img src="/media/logo/image.png" style="width: 20%; height: 10;"> 
            </a>
        </div>
        
        <ul>
            <li><a href="#"> ABOUT US </a> </li>
            <li><a href="{% url 'global' user_id%}"> BROWSE RECIPES </a> </li>
            <li>
                {% if flag != None %}
                <a href="{% url 'saved_recipes' user_id%}">
                    SAVED RECIPES
                </a>
                {% endif %}
            </li>
        </ul>
    </div>

    <div class="edward">
        <div class="cope">
        <div class="main-main-content">
            <!--This class has the upload an image function-->
            <div class="upload-content">
                <h2>Upload an Image of the fridge</h2>
                <form method = "post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="image" class="upload-button">Upload</button>
                </form>
            </div>

            <div class="manual-content">
                <h2>Manually Add Ingredients</h2>
                <h4>Enter the Ingredients in your fridge:</h4>

                <form method='POST'>
                    {% csrf_token %}
                    {{form2.as_p}}
                    {%for n in ingredients%}
                    <ol class="list-ingredients">
                        {{n.ingredient_name}}
                    <a href="{% url 'delete_ingredient' user_id n.ingredient_id%}">
                        <button type="submit" class="button-del">Delete</button>
                    </a>
            
                    </ol>
                    {% endfor %}
                    <button type="submit" name="manual" class="add-button-index" value=""> Add</button>
                </form>
            </div>


        </div>

        <div class="instructions">
            <h2 class="ins-tit">Instructions</h2>

            <p class="ins-para"> 
                You can choose to upload an image of your fridge and/or You can manually enter the ingredients you have! 
                When you are done proceed by clicking "Start Cooking".

                Note: After analysing the image, you can edit the ingredient list to your liking.
            </p>

            <a href="{% url 'images' user_id %}">
                <button type="button" class="next-button-index">Start Cooking! </button>
            </a>
        </div>
        </div>
        <img src="../media/logo/edward.png" class="ed">
    </div>
</div>

{% endblock %}