{% extends 'layouts/page.html' %}
{% load static %}

{% block content %}


    <div class="login-form">
        <h3>Login Now!</h3>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="username">
            <input type="text" name="password">
            <br>
            <button type="submit" class="button">Login</button>
        </form>

        <br>
    
        <h3>Don't have an account?</h3>
        <a href="{% url 'register' %}">
            <button type="button" class="button">Register Here!</button>
        </a>
    
    
    </div>



{% endblock %}