{% extends 'layouts/page.html' %}
{% load static %}

{% block content %}

<div class="overlay">


    <div class="login-form">
        <h3>Login Now!</h3>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="username">
            <input type="text" name="password">
            <button type="submit" class="delete-button">Login</button>
        </form>
    
        <h6>Don't have an account?</h6>
        <a href="{% url 'register' %}">
            <button type="button" class="delete-button">Register Here!</button>
        </a>
    
    
    </div>



</div>

{% endblock %}