{% extends 'layouts/index_temp.html' %}
{% load static %}

{% block content %}

<div class="navigation">
    <div class="logo">
        <a href="{% url 'back' user_id%}">
            <img src="/media/logo/image.png" style="width: 20%; height: 10;"> 
        </a>
    </div>
    
    <ul>
        <li><a href="#"> ABOUT US </a> </li>
        <li><a href="{% url 'global' user_id%}"> BROWSE RECIPES </a> </li>
        <li>
            {% if flag != None %}
            <a href="{% url 'saved_recipes' user_id%}">
                <img src="/media/logo/bookmark.png" style="width: 30px ;height: 30px ; position:relative ; display: inline-block ; margin-left: 10px; margin-bottom: 10px;">
            </a>
            {% endif %}
        </li>
    </ul>
</div>

<div class="recipe">

    {% autoescape off %}
    {{recipe.recipe_content}}
    {% endautoescape %}
    <br>

    {% if flag == True %}

    <a href="{% url 'bool-change' recipe.recipe_id user_id %}">
        <button type="button" class="button">Save</button>
    </a>

    {% endif %}

    <br>
    <h5>Rate and Review the Recipe</h5>
    <form method="POST" action="">
        {% csrf_token %}
        <p>Select a Rating!</p>
        <input type="radio" id="1" name="recipe_rating" value="1">
        <label for="1">1</label><br>
        <input type="radio" id="2" name="recipe_rating" value="2">
        <label for="2">2</label><br>
        <input type="radio" id="3" name="recipe_rating" value="3">
        <label for="3">3</label><br>
        <input type="radio" id="4" name="recipe_rating" value="4">
        <label for="4">4</label><br>
        <input type="radio" id="5" name="recipe_rating" value="5">
        <label for="5">5</label><br>

        <p>Leave a Review!</p>
        <input type="text" name="recipe_review">
        <br>
        <button type="submit" class="button">Submit</button>
    </form>

    {% if flag == True %}
    <a href="{% url 'saved_recipes' user_id%}">
        <button type="button" class="button">Back</button>
    </a>
    {% else %}
    <a href="{% url 'index' user_id%}">
        <button type="button" class="button">Back</button>
    </a>

    {% endif %}

    <h5>Current Reviews and Ratings</h5>

    {% for review in reviews %}
    <ul>User : {{review.username}}</ul>
    <ul>Review : {{review.recipe_review}}</ul>
    <ul>Rating : {{review.recipe_rating}}</ul>
    <p>--------------------</p>
    {% endfor %}

</div>

{% endblock %}