{% extends 'layouts/page.html' %}
{% load static %}

{% block content %}

{% autoescape off %}
{{recipe.recipe_content}}
{% endautoescape %}

{% if recipe.is_saved == False %}

<a href="{% url 'bool-change' recipe.recipe_id user_id %}">
    <button type="button" class="delete-button">Save</button>
</a>

{% endif %}
<h5>Rate and Review the Recipe</h5>
<form method='POST'>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit"class="delete-button" value=""> Rate</button>
</form>

<a href="{% url 'saved_recipes' user_id%}">
    <button type="button" class="delete-button">Back</button>
</a>

<h5>Current Review and Rating</h5>

<ul>Review : {{recipe.recipe_review}}</ul>
<ul>Rating : {{recipe.recipe_rating}}</ul>

{% endblock %}