{% extends 'layouts/index_temp.html' %}
{% load static %}

{% block content %}

<nav class="navbar">
    <div class="main-menu">
    <a href="{% url 'back' user_id%}">
        <img src="/media/logo/image.png" style="width: 20%; height: 10">
    </a>

    {% if flag != None %}
    <a href="{% url 'saved_recipes' user_id%}">
        <img src="/media/logo/bookmark.png" style="width: 30px ;height: 30px ; position:relative ; display: inline-block ; margin-left: 510px; margin-bottom: 10px;">
    </a>
    {% endif %}
    </div>
</nav>

{% autoescape off %}
{{recipe.recipe_content}}
{% endautoescape %}

{% if flag == True %}

<a href="{% url 'bool-change' recipe.recipe_id user_id %}">
    <button type="button" class="delete-button">Save</button>
</a>

{% endif %}
<h5>Rate and Review the Recipe</h5>
<form method='POST'>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit"class="delete-button" value=""> Rate</button>
</form>

{% if flag == True %}
<a href="{% url 'saved_recipes' user_id%}">
    <button type="button" class="delete-button">Back</button>
</a>
{% else %}
<a href="{% url 'index' user_id%}">
    <button type="button" class="delete-button">Back</button>
</a>

{% endif %}

<h5>Current Review and Rating</h5>

<ul>Review : {{recipe.recipe_review}}</ul>
<ul>Rating : {{recipe.recipe_rating}}</ul>

{% endblock %}